{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block title %}
| Home
{% endblock %}

{% block body %}
<section class="feed">
  <div class="feed-header">
    <h2>Recent Shares</h2>
  </div>
  <div class="feed-content">
    <div class="posts">
      {% if posts %}
      {% for post in posts|sort(attribute="created_at", reverse=True) %}
      <div class="card">
        <div class="post-header">
          <img id="post-img" src="{{ url_for('static', filename='Images/profile.png') }}" alt="">
          <div class="post-user">
            <h4>{{ post.user_post.username }}</h4>
            <small>{{ post.created_at.strftime("%b %d, %Y") }}</small>
          </div>
        </div>
        <div class="post-content">
          <div class="reading-status">
            {% if post.status == "finished" %}
            <span class="status-badge completed">Finished reading</span>
            {% elif post.status == "current" %}
            <span class="status-badge ongoing">Currently reading</span>
            {% elif post.status == "start" %}
            <span class="status-badge pending">Next reading</span>
            {% endif %}
            <p><b>{{ post.book_title }}</b> by <b>{{ post.book_author }}</b></p>
          </div>
          <p style="margin-top: 1rem;">{{ post.content }}</p>
          <!-- <div class="book-cover">
            <img src="https://via.placeholder.com/150x200" alt="Dune" class="book-cover-img">
          </div> -->
        </div>
        <div class="post-actions-box">
          <div class="post-actions">
            <button class="btn-outline">
              <a href="{{ url_for('posts.like_post', post_id=post.unique_id) }}">
                <p>
                  <i class="fas fa-thumbs-up"></i>
                  Like
                </p>
              </a>
            </button>
            <button class="btn-outline">
              <a href="{{ url_for('posts.comment_post', post_id=post.unique_id) }}">
                <p>
                  <i class="fas fa-message"></i>
                  Comment
                </p>
              </a>
            </button>
          </div>
          <div class="post-data">
            <div class="likes-data">
              <span class="like-count post-count">{{ post.likes|count }}</span> Likes
            </div>
            <div class="comments-data">
              <span class="comment-count post-count">{{ post.comments|count }}</span> Comments
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="else">No content</p>
      {% endif %}
    </div>
    <div class="feed-side-bar">
      <div class="feed-side-bar-header">
        <h3>Suggested Readers</h3>
      </div>
      <div class="feed-side-bar-content">
        {% if readers %}
        {% for reader in readers %}
        <div class="follow-box">
          <div class="follow-user-header">
            <img id="post-img" src="{{ url_for('static', filename='Images/profile.png') }}" alt="">
            <div class="post-user">
              <a href="{{ url_for('auth.profile', username=reader.username) }}">
                <h4>{{ reader.username }}</h4>
              </a>
            </div>
          </div>
          {% set following_list = [] %}
          {% for follower in followers if follower.followed_id == reader.id %}
          {{ following_list.append(reader.id) or "" }}
          {% endfor %}
          <a href="{{ url_for('follows.follow', username=reader.username) }}">
            {% if reader.id in following_list %}
            <i class="fas fa-check"></i>
            Following
            {% else %}
            Follow
            {% endif %}
          </a>
        </div>
        {% endfor %}
        {% else %}
        <p class="else">No suggested readers</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}