.account,
footer {
  display: none;
}

.form,
form {
  padding: 2rem;
}

.form > h1 {
  color: var(--text-dark);
  font-size: 6ch;
  text-align: center;
}

form {
  padding-block: 2rem;
  max-width: 40%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: var(--primary-color);
  border-radius: var(--radius-s);
}

.input {
  display: grid;
  gap: 0.4rem;
}

label {
  color: var(--text-light);
}

input {
  color: var(--text-dark);
}

input::placeholder {
  color: var(--text-light);
}

#input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light);
  border-radius: var(--radius-s);
  padding-right: 1em;
}

#input:focus {
  background-color: var(--faded-accent-color);
}

#input i {
  cursor: pointer;
  color: var(--accent-color);
}

.extend,
.btn {
  grid-column: 1/-1;
}

form .btn {
  margin-top: 1rem;
}

#info {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  text-align: center;
  color: var(--text-dark);
}

#info a {
  font-weight: 600;
}

@media screen and (max-width: 1400px) {
  form {
    max-width: 55%;
  }
}

@media screen and (max-width: 1100px) {
  form {
    max-width: 65%;
  }
}

@media screen and (max-width: 900px) {
  form {
    max-width: 75%;
  }
}

@media screen and (max-width: 800px) {
  form {
    max-width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .form {
    padding-inline: 1rem;
  }

  form {
    grid-template-columns: 1fr;
  }

  .form h4 {
    font-size: 4.5ch;
  }
}
