.feed,
.posts,
.card {
  display: grid;
  gap: 0.5rem;
}

.feed-content {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.posts {
  flex-grow: 1;
}

.card {
  background-color: var(--primary-color);
  border-radius: var(--radius-s);
  padding: 1rem;
  gap: 1rem;
  box-shadow: var(--shadow);
}

.post-header,
.follow-user-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--bg-light);
  padding-bottom: 0.5rem;
}

#post-img {
  max-height: 2.5rem;
}

.post-user {
  display: grid;
  gap: 0;
}

.post-actions-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-actions,
.post-data {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-actions button {
  border: none;
  background-color: var(--accent-2-color);
  border-radius: var(--radius-s);
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post-actions button p {
  font-weight: bold;
}

.post-actions button a {
  color: var(--text-dark);
}

.feed-side-bar {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: var(--radius-s);
  min-width: 20rem;
  display: grid;
  gap: 1rem;
  box-shadow: var(--shadow);
}

.feed-side-bar-header h4 {
  border-bottom: 1px solid var(--bg-light);
  padding-bottom: 0.5rem;
}

.feed-side-bar-content {
  display: grid;
  gap: 1rem;
}

.feed-side-bar-content .follow-user-header {
  padding-bottom: 0;
  border-bottom: 0;
}

.follow-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
