<!DOCTYPE html>
<html lang="en">

{% block head %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <title>
    StoryVault {% block title %}{% endblock %}
  </title>
</head>
{% endblock %}

<body>
  <header class="header">
    <div class="logo">
      <a href="{{ url_for('books.home') }}" id="logo">StoryVault</a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="{{ url_for('books.home') }}">Home</a></li>
        <li><a href="#">Library</a></li>
      </ul>
    </nav>
    <a href="{{ url_for('posts.create_post') }}" class="btn">Share a Book</a>
    <div class="profile-box">
      {% if current_user.is_authenticated %}
      <div class="profile">
        <img id="profile-img" src="{{ url_for('static', filename='Images/profile.png') }}" alt="">
        <p>{{ current_user.username }}</p>
      </div>
      {% else %}
      <div class="account">
        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        <a href="{{ url_for('auth.signin') }}">Sign In</a>
      </div>
      {% endif %}
    </div>
  </header>

  <main class="main-content">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 StoryVault. All rights reserved.</p>
      <nav class="footer-nav">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </nav>
    </div>
  </footer>

  {% block extra_js %}{% endblock %}
</body>

</html>