{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<section class="home">
  <div class="overlay">
    <div class="home-info">
      <h1>Welcome to our Sacco - Empowering Chamas</h1>
      <p>Join our vibrant and inclusive community of chamas, where like-minded members from diverse backgrounds come
        together to support each other, share experiences, and embark on an exciting journey of collective financial
        growth and empowerment.</p>
      <div class="home-btns">
        <button>Join Sacco</button>
        <button>Learn More</button>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <h1>Explore Our Solutions</h1>
  <div class="main-content">
    <div id="one" class="pay-in">
      <div class="pay-in-info">
        <h4>Discover the Benefits of Joining Our Sacco Today</h4>
        <p>Joining our sacco comes with a range of advantages that can help you achieve your financial goals. From
          competitive interest rates to personalized financial advice, we have everything you need to thrive.</p>
        <ul>
          <li>
            <i class="material-icons">check_circle</i>
            <h4>Competitive Rates</h4>
            <p>Earn higher returns on your savings with our competitive interest rates and dividends.</p>
          </li>
          <li>
            <i class="material-icons">check_circle</i>
            <h4>Financial Advice</h4>
            <p>Get personalized financial guidance from our experts to make informed decisions.</p>
          </li>
        </ul>
        <button>Learn More</button>
      </div>
      <div class="pay-in-image one"></div>
    </div>
  </div>
</section>
<section class="api">
  <h1>Join us and experience the benefits</h1>
  <p>As a member of our sacco, you'll enjoy low-interest rates, receive community support, and have the opportunity
    for financial growth.</p>
  <button>Join Sacco</button>
</section>
{% endblock %}

{% block script %}
<script src="index.js"></script>
{% endblock %}