{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block title %}
| Sign Up
{% endblock %}

{% block body %}
<div class="form">
  <h1>Signup</h1>
  <form method="post">
    {{ form.csrf_token }}
    <div class="input extend">
      {{ form.username.label }}
      {{ form.username(placeholder="Enter Username", class="name") }}
    </div>
    <div class="input">
      {{ form.email_address.label }}
      {{ form.email_address(placeholder="Enter Email Address", class="name") }}
    </div>
    <div class="input">
      {{ form.phone_number.label }}
      {{ form.phone_number(placeholder="Enter Phone Number", class="name") }}
    </div>
    <div class="input">
      {{ form.password.label }}
      <div id="input">
        {{ form.password(placeholder="Enter Password", class="name password") }}
        <i class="fa fa-eye password-toggle"></i>
      </div>
    </div>
    <div class="input">
      {{ form.confirm_password.label }}
      <div id="input">
        {{ form.confirm_password(placeholder="Confirm Password", class="name password") }}
        <i class="fa fa-eye password-toggle"></i>
      </div>
    </div>
    <button class="btn" type="submit">
      <span class="button--text">Sign Up</span>
    </button>
  </form>
  <div id="info">
    <p>Already have an account? <a href="{{ url_for('auth.signin') }}">Sign In</a></p>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth') }}"></script>
{% endblock %}